# max workers ratio defining how much CPU cores to use
max_workers_ratio: 0.5

add:
  # Maximum length between two consecutive keyframes (in seconds)
  max_scene_length: 2
  # Keyframe size ratio to the original frame. This also affects resolution of videos
  keyframe_resize_ratio: 0.5
  # Thumbnail size ratio to the keyframe
  thumbnail_resize_ratio: 0.25
  # Max clips length around the keyframes (in seconds)
  clip_length: 7
  # Video compress ratio
  compress_size_rate: 0.5

analyse:
  # num_workers of DataLoader
  num_workers: 0
  # pin_memory of DataLoader
  pin_memory: true

milvus:
  # Extra fields (apart from features)
  fields:
    - field_name: "frame_id"
      datatype: "VARCHAR"
      max_length: 32
      is_primary: true

# List of features
features: &analyse_features
  image_clipb16:
    model: "image_clip"
    source: "open_clip"
    arch_name: "PE-Core-B-16"
    pretrained_model: "meta" 
    analyse:
      batch_size: 16
    index:
      datatype: "FLOAT_VECTOR"
      dim: 1024 
      metric_type: "COSINE"
      index_type: "SCANN"
      params:
        nlist: 512

  video_clipb16:
    model: "video_clip"
    source: "open_clip"
    arch_name: "PE-Core-B-16"
    pretrained_model: "meta" 
    analyse:
      batch_size: 4
    index:
      datatype: "FLOAT_VECTOR"
      dim: 1024 
      metric_type: "COSINE"
      index_type: "SCANN"
      params:
        nlist: 512

  ocr:
    model: "ocr"
    source: "tesseract"
    analyse:
      batch_size: 8
    index:
      default: ""
      datatype: "VARCHAR"
      max_length: 2048
      index_type: "BM25"


searcher:
  language_models:
    language_clipb16:
      model: "image_clip"
      source: "open_clip"
      arch_name: "PE-Core-B-16"
      pretrained_model: "meta" 
      target:
        - image_clipb32
        - video_clipb32

  ocr:
    ocr_field: "ocr"
    enable: true

frontend:
  dev_port: 12345

backends:
  core:
    port: 6900
    search_proxy:
      request_timeout: null
      max_concurrent_requests: 10
      servers:
        - host: http://127.0.0.1:1337
    file_proxy:
      request_timeout: null
      max_concurrent_requests: 10
      servers:
        - host: http://127.0.0.1:4200

  search:
    port: 1337
    # Name of collection to use
    collection: "milvus"
    workers: 1
    gpu: true

  file:
    port: 4200
    workers: 1



